
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>
<form asp-action="Login">
    <div class="row">
        <label class="col-md-3">Username</label>
        <input class="form-control" name="Username" />
    </div>
    <div class="row">
        <label class="col-md-3">Password</label>
        <input class="form-control" name="Password" type="password" />
    </div>
    <button>Login</button>
</form>
